<p>Welcome</p>
{{title}}
<a routerLink="home">Home</a>
<ul>
    <li *ngFor="let word of myarray">{{word}}</li>
</ul>
<select >
    <option *ngFor="let i of myarray">{{i}}</option>
</select>
<div *ngIf="condition">
    my first div
</div>
<input type="text" value={{data}}>
<!-- {{myarray}} -->
<!-- <app-demo></app-demo>
<app-test></app-test> -->

<router-outlet>

</router-outlet>

<!-- event binding -->
<button (click) = "myevent()" >click here</button>
<input type="text" (input) ="getData($event)">
<app-calculator></app-calculator>